.navigator{
   background-color: black;
   padding: 30px 30px;
   height: 10vh;

   ol{
       display: flex;
       list-style: none;
       li{
           margin: 0 10px;
              a{
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
                transition: all 0.3s ease-in-out;
                &:hover{
                     color: #ffc107;
                }
              }
       }
   }
}
