.navigator{
   background-color: rgba(240, 255, 255, 0.555);
   padding: 30px 30px;
   height: 10vh;

   ol{
       display: flex;
       list-style: none;
       li{
           margin: 0 10px;
       }
   }
}